@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: #232f70;
  --sec-color: #7c8bde;
  --acc-color: #243bbc;
  --tex-color: #101323;
  --bac-color: #f0f2f9;
}

body {
  background-color: var(--bac-color);
  font-family: "Poppins", serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  min-height: 100vh;
  margin: auto;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  width: 70%;
}

a.box {
  display: block;
  background-color: var(--sec-color);
  color: var(--tex-color);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

a.box:hover {
  transform: scale(1.05);
  background-color: var(--main-color);
}

.breadcrumb {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 5px;
  font-size: 19px;
  color: white;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--tex-color);
  font-weight: bold;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .separator {
  margin: 0 10px;
  font-size: 20px;
  color: var(--tex-color);
}

.breadcrumb .topic {
  color: var(--acc-color);
}

.breadcrumb .topic:hover {
  color: var(--main-color);
}
