:root {
  --main-color: #232f70;
  --sec-color: #7c8bde;
  --acc-color: #243bbc;
  --tex-color: #101323;
  --bac--color: #f0f2f9;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: var(--main-color);
  color: var(--bac--color);
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}
.note {
  background-color: hsl(231, 52%, 29%, 5%);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}
.title {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.box {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.box span {
  flex: 1;
}

.box input {
  flex: 1;
  outline: none;
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.box input:focus {
  border: var(--acc-color) 2px solid;
}
.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--sec-color);
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: var(--main-color);
}

.hidden {
  display: none;
  margin: auto;
}

.visible {
  display: flex;
}

#average {
  color: var(--tex-color);
  margin-top: 20px;
}
#su{
  color: var(--tex-color);
}